* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: white;
}

.profile-picture {
  border-radius: 100%;
  position: absolute;
  max-width: 15%;
  top: 10px;
  left: 20px;
  border: 6px solid rgb(63, 62, 71);
}

header {
width: 100%;
height: 100px;
background-color: rgb(63, 62, 71);
display: flex;
justify-content: space-between;
align-items: center;
border-top: 7px;
border-bottom: 20px;
}

h1 {
  width: 30%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 55px;
  font-weight: 100;
  width: 610px;
  color: rgb(53, 52, 73);
  padding: 0px 5px 0px 270px;
  background-color: rgb(78, 221, 209)
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  margin-right: 5%;
}

.header-link {
  text-decoration: none;
  text-align: center;
  color: rgb(78, 221, 209);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding: 5px;
  margin: 0 12px;
  border-bottom: 2px solid rgb(78, 221, 209);
}

.hero-image {
  width: 100%;
  height: 100%;
}

main {
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* About Me Section */
.page-section {
display: flex;
flex-wrap: wrap;
flex-direction: row;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-header {
padding: 20px 40px 0px 0px;
margin: 40px 0px;
flex-basis: 20%;
text-align: right;
color: rgb(20, 67, 105);
font-size: 50px;
font-weight: 900;
}

.content {
  flex-basis: 80%;
  padding: 5px 5% 5px 5%;
  flex: 1 0;
  border-left: 6px solid rgb(20, 67, 105);
  margin: 40px 0px 40px 0px;
}

p {
  word-wrap: normal;
  margin-bottom: 25px;
  line-height: 1.6;
}

/* WORK SECTION */
.work-content {
  width: 80%;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px 5% 5px 5%;
  border-left: 6px solid rgb(20, 67, 105);
  margin: 40px 0px 40px 0px;
}

.feature-project {
  flex: 2 1;
  border: 7px solid rgb(78, 221, 209);
  margin: 12px;
  height: 50%;
  min-width: 90%;
  display: flex;
}

.feature-project img {
  width: 100%;
  height: 100%;
  display:cover;
  object-fit: cover;
  opacity: 0.8;
}

.feature-project img:hover {
  opacity: 1;
}

.image-header {
  position:absolute;
  height: auto;
  width: auto;
  background-color: rgb(78, 221, 209);
  margin: 30px 0px 0px 0px;
  font-size: 25px;
  opacity: 1;
}

.image-header a {
  padding: 10px 12px 2px 5px;
  background-color: rgb(78, 221, 209);
  margin: 30px 0px 0px 0px;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.image-header p {
  font-size:16px;
  padding-left:5px;
}

.secondary-project {
  flex: 1 1;
  height: 150px;
  min-width: 45%;
  margin: 12px;
  border: 7px solid rgb(78, 221, 209);
  display: flex;
}

.secondary-project img {
  width: 100%;
  height: 100%;
  display:cover;
  object-fit: cover;
  opacity: 0.8;
}

.secondary-project img:hover {
  opacity: 1;
}

.link-section {
  height: 100%;
  display: flex;
  justify-content: space-between;  
}

.contact-link {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: rgb(20, 67, 105);
}

.photo-resize {

}

@media screen and (max-width: 768px) {
  
  .profile-picture {
    max-width: 30%;
  }

  header {
    /* display: flex;
    flex-direction:column; */
    /* flex-wrap: wrap; */
    height: 100%;
  }

  h1 {
    font-size: 55px;
    padding: 0px 30px 0px 0px;
    text-align: right;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-right: 5%;
  }

  .header-link {
    margin: 60px 30px 90px 30px;
  }
  
  .page-section {
    flex-direction: column;
  }

  .main-header {
    text-align: center;
    margin: 10px 0 10px 0;
  }

  .main-header br {
    content: ' ';
  }

  .content {
    border-left: none;
  }

  .work-content {
  flex-direction: column;
  border-left: none;
  margin: 0px 5px 0px 5px;
  }

  .link-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;  
  }

  .contact-link {
    padding: 10px;
  }

@media screen and (max-width: 480px) {

}