* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
width: 100%;
height: 100px;
background-color: rgb(55, 54, 70);
/* position:relative */
display: flex;
justify-content: space-between;
align-items: center;
/* justify-content: space-between; */
border-top: 7px;
border-bottom: 20px;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 55px;
  font-weight: 100;
  width: 610px;
  color: rgb(53, 52, 73);
  padding: 0px 5px 0px 250px;
  background-color: rgb(78, 221, 209)
}

nav {
  position:relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: red;
  height: 50px;
}
/* need to fix the spacing of the nav items */
nav a {

  display: flex;
  justify-content: flex end;
  align-items: flex-end;
  padding: 2px;
  text-align: center;
  color: rgb(78, 221, 209);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 23px;
  text-decoration: underline;
  flex: 1 0;
  background-color: rgb(55, 54, 70);
}

.hero-image {
  width: 100%;
  height: 250px;
  background-image: ;
}

main {
display: flex;
flex-wrap: wrap;
flex-direction: row;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page-section {
display: flex;
flex-wrap: wrap;
flex-direction: row;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about-me {
padding: 20px 40px 0px 0px;
margin: 40px 0px;
width: 350px;
background-color: white;
text-align: right;
color: rgb(20, 67, 105);
font-size: 50px;
font-weight: 100;

}

.content {
  width: 1200px;
  padding: 20px 0px 20px 120px;
  flex: 1 0;
  border-left: 6px solid rgb(20, 67, 105);
  margin: 40px 0px 0px 0px;
}

.work {
padding: 20px 40px 0px 0px;
margin: 40px 0px;
width: 350px;
background-color: white;
text-align: right;
color: rgb(20, 67, 105);
font-size: 50px;
font-weight: 100;

}


p {
  word-wrap: normal;
  margin-bottom: 25px;
}

.feature-project {
  width: 80%;
  border: 3px solid red;
  display:flex;
  flex-direction: column;
  flex: 2 1;
  border: 7px solid rgb(78, 221, 209);
}

.secondary-project {
  width: 80%;
  border: 3px solid red;
  display:flex;
  flex-direction: column;
  border: 20px solid rgb(78, 221, 209);
}

media@dwennr